div {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: blue;
}

#yellowDiv {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: yellow;
}

.group1 {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: #00ffff;
}